html {
	background:url('../img/fondo.jpg');
	background-size:cover
}

body {
	
}

h2 {
	background-color:#00b1e1;
	color:#fff;
	font-size:22px;
	line-height:46px;
	margin-top:0
}

label.validetta-error {
	color:red
}
.validetta-error input {
	border-color:red
}